<ion-header>
    <ion-navbar color="header">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center><b>SIYA RAM JEWELS</b></ion-title>
        <ion-buttons right (click)="login()" >
            <button ion-button icon-only color="light" ><ion-icon  id="ssp" name="ios-contact"></ion-icon></button>
          </ion-buttons >
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="banner">
            <ion-slides pager loop="true" speed=2000 autoplay="2000" *ngIf="banners && banners.length"> 
                    <ion-slide *ngFor="let item of banners">
                        <img src="{{item.banner_img}}">
                    </ion-slide>
                   
              
            </ion-slides>
    </div>

  
    


    <marquee scrollamount="8">
            <p class="marquee"><b>{{marqu}}</b></p>
        </marquee>
    <div>
        <ion-row text-center> 
        
            <ion-col col-6 (click)="categoryPage()" >
               <img padding src="assets/imgs/mani.png">
                <p>Products</p>
            </ion-col>
            <ion-col col-6 (click)="live()" >
                <img src="assets/imgs/live.jpg">
                <p>Live Rate</p>
            </ion-col>
            <ion-col col-6 (click)="noti()" >
                <img padding src="assets/imgs/order.png">
                <p>Customize Order</p>

            </ion-col>
            
            <ion-col col-6 >
                    <a href="https://wa.me/+91{{whatsapp}}/?text=Hi, need help">
                        <img src="assets/imgs/whats.png">
                    </a>
                 <p>Chat With Us</p>
            </ion-col>


        </ion-row>
    </div>
<!-- 
    <ion-fab bottom right>

        <a href="https://wa.me/+91{{whatsapp}}/?text=Hi, need help">
            <button ion-fab style="color:#4FCE5D;background-color: transparent">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </button>
        </a>
    </ion-fab>

    <ion-fab bottom left>
        <a href="{{fb}}">
            <button ion-fab style="color:rgb(69, 95, 150);background-color: transparent">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </a>
    </ion-fab> -->
</ion-content>