
<ion-header>

    <ion-navbar color="header">
      <ion-title>Product</ion-title>
      <ion-buttons right (click)="presentActionSheet()" >
            <button ion-button icon-only color="light" >Filter<ion-icon  id="ssp" name="ios-arrow-dropdown-outline"></ion-icon></button>
          </ion-buttons >
    </ion-navbar>
  
  </ion-header>
<ion-content padding>
  
    <ion-row text-center *ngIf="products">
        
                <ion-col *ngFor="let product of products" col-6 (click)="goToProduct(product)">
                        <img [src]="product.img">
                         <p>{{product.name}}</p>
                     </ion-col>
       
        
       


    </ion-row>
</ion-content>
