page-product-details {
    .quantity{
        font-size: 22px;
        color: #848383;
        margin: 20px auto;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 15px;
        padding-left: 5px;
        h4{
            width: 100px;
            float: left;
            margin: 0;
            color:#000
        }
        ul{
            list-style: none;
            display: inline-flex;
            margin: 0px;
            li{
                margin: 0 5px;
            }
        }
    }
    .image{
        height: 400px;
        img{
            width:100%;
            border-radius: 10px;
        }
    }
    .name{
        // padding-left: 20px;
        border-bottom: 1px solid #e6e6e6;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }
    }
    
    .signbtn{
        border-radius: 50px;
        width: 80%;
        margin: 21px auto;
        background: rgba(35,188,186,1);
        background: -moz-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,188,186,1)), color-stop(100%, rgba(69,233,148,1)));
        background: -webkit-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: -o-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: -ms-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: linear-gradient(to right, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23bcba', endColorstr='#45e994', GradientType=1 );
    }
    .sli{
        margin: 0px;
    }
    .code{
        margin: 0;
        color:rgb(104, 103, 103)
    }
    .price{
        text-align: right;
    }
    .amount{
        color:#37bea9;
        margin: 0
    }
    .cutamount{
        text-decoration: line-through;
        color:rgb(124, 123, 123);
        margin: 0;
        margin-bottom: 5px;
    }
    .name1{
        margin: 0;
        color:rgb(65, 64, 64);
        margin-bottom: 5px
    }
    .oredrbtn{
        border-radius: 50px;
        background: rgba(35,188,186,1);
        background: -moz-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,188,186,1)), color-stop(100%, rgba(69,233,148,1)));
        background: -webkit-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: -o-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: -ms-linear-gradient(left, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        background: linear-gradient(to right, rgba(35,188,186,1) 0%, rgba(69,233,148,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23bcba', endColorstr='#45e994', GradientType=1 );
        text-transform: none;
        font-size: 16px;
    }
    .backarrow{
        font-size: 25px;
        background: #e8e8e8;
        padding: 10px 14px;
        border-radius: 50%;
        position: relative;
    }
    .round{
        min-width: 30px;
        min-height: 30px;
        background: #616161;
        margin: 5px;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        line-height: 30px;
    
    }
    .badg{
        position: absolute;
        font-size: 10px;
        background: red;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        color: #fff;
        top: 0px;
        font-weight: 600;
        margin: 0 auto;
        text-align: center;
        line-height: 18px;
        box-shadow: 0 0 10px red;
    }
    .hidden{
        visibility: hidden
    }
    .header-md::after{
        background: none;
    }
    .toolbar-background-md {
        border-color: transparent;
        background: transparent;
    }
    ion-footer {
        background: #fff
    }
    .conicon {
        display: table-cell;
        font-size: 1.2em;
        background: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
    }
}
