page-loginreg {

  
    .item-md.item-block .item-inner {
        padding-right: 8px;
        padding-left: 8px;
        height: 20px !important;
        border: 1px solid #a39e9e;
       
        border-radius: 3px;
  
    }
    .item-block{
      min-height: 3.4rem;
      margin-bottom: 10px;
    }
    .text-input-md{
      margin-bottom: 10px;
      
    }
    .item-md{
      margin-bottom: 10px;
      padding-left: 10px;
      height: 20px !important;
      padding-right: 10px;
     
    }
    .button-md{
      -webkit-box-shadow: none;
    }
  
    .item-ios.item-block .item-inner {
      padding-right: 8px;
      padding-left: 8px;
      height: 20px !important;
      border: 1px solid #a39e9e;
      
      border-radius: 3px;
  
  }
  
  
  .text-input-ios{
    margin-bottom: 10px;
   
  }
  .item-ios{
    margin-bottom: 10px;
    padding-left: 10px;
    height: 20px !important;
    padding-right: 10px;
   
  }
  .button-ios{
    -webkit-box-shadow: none;
  }
  ion-content{
  
}
.button_example{
  width: 120px;
  height: 40px;
  border:1px solid #6d6b6a85;
  -webkit-box-shadow: #474747 0px 0px 5px ;
  -moz-box-shadow: #474747 0px 0px 5px ; 
  box-shadow: #474747 0px 0px 5px ; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size:18px;
  font-family:arial, helvetica, sans-serif; 
  padding: 7px 10px 7px 10px; 
  text-decoration:none; 
  display:inline-block;
  text-shadow: 0px 1px 0 rgba(255,255,255,0.4);
  font-weight:bold; 
 background-color: #a18243;
    }

    .imgrow{
        text-align: center;
        background-color: #fbf6f0;
    }

    .logo{
       
        width: 70%;
        margin-top: 30px;
        margin-bottom: 23px;
    }

    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100%;
    }

    .regButton
    {    
        margin-top: 30px;
        margin-bottom: 20px;
        text-align:center;
        padding-bottom: 20px;
    }

  
    .select-md {
        // padding: 13px 8px 13px 13px;
        width: 100%;
    }

    .validation-errors{
      color: red;
    }
    .back{
      height: 100%;
      background-image: url('../assets/imgs/backlogin.jpg');
      background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      // background-position: center center;  
    }
    .backsh{
      padding:10px;
      background-color: #4747476e !important;
      border-radius: 5px;
    }
}
