<!--
  Generated template for the MeetteamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="header">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    
      <ion-title><span style="color: rgb(255, 255, 255)">Meet Our Team                                                            </span></ion-title>
   
    </ion-navbar>
  
  </ion-header>


<ion-content >
    <div *ngIf="check" text-center style="margin-top:20%" >
        <img src="http://anjanigold.dot2door.in/includes/images/logo.png">
         <h2 style="color:rgb(179, 32, 32)">No Teams found</h2>
   </div>
   <div *ngIf="!check">
      <ion-card *ngFor="let item of team">
          <img src="{{item.member_img}}"/>
          <ion-card-content>
            <ion-card-title>
             {{item.member_name}}
              </ion-card-title>
            <p [innerHTML]="item.member_desc">
              
            </p>
          </ion-card-content>
        </ion-card>
   </div>
  
</ion-content>
