page-eventlist {
    ion-content {
        background-color:rgb(155, 149, 149) !important
        // background-image:  url('../assets/imgs/background.jpg')   ;
      }
      .subha{
          text-align: center;
      }
    .button-md{
        margin: 0px !important;
    }
    .button-ios{
        margin: 0px !important;
    }

    h1{
        color:white;
    }
    p{
        color:white;
    }
    .img{
        width: 100%;
        height: 300px;
    }
}
